@import url(//fonts.googleapis.com/css?family=Noticia+Text);
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');


body {
  font-family: 'Noticia';
}

/* Title */
h1 {
  font-size: 8em;
  color: #EEE8E7;
  font-weight: 100;
  text-align: center;
  vertical-align: middle;
  margin-top: 20%;

}

/* Subheadings */
h3 {
  font-size: 4em;
  text-align: center;
  font-weight: 300;
}

/* Body ("The number of wildfires have been relatively constant") */
p {
  font-family: 'Oxygen';
  font-size: 1.5em;
}

.section{
  height: 100vh;
  color: #EEE8E7;
  text-align: center;
}

#splash{
  margin-block-start: 0;
  margin-block-end: 0;
  vertical-align: middle;

  /* background-image: url("./media/wildfireSplash1.png");
  background-size: cover; */
}

.fp-section {
  /* text-align: center; */
  height: 100vh; 
}

.fp-table{
  display: block;
}

/* .light-bg{
  color: #212121;
}

.dark-bg{
  color: #EEE8E7;
} */

img {
  margin: 10px;
}

.hidden {
  display: none;
}

#overviewOne{
  width: 70%;
  margin:auto;
}

